---
layout: default
title: Línea de tiempo
---
<div class="container row">
    <h1>Línea de tiempo</h1>
    {% assign steps = site.posts | sort: 'date' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">
            {{ step.date | date: "%-d" }} de
            {% assign m = step.date | date: "%-m" | minus: 1 %}
            {{ site.data.es_months.months[m] }} de
            {{ step.date | date: "%Y" }}
            {% if step.enddate %} -
                {{ step.enddate | date: "%-d" }} de
                {% assign m = step.enddate | date: "%-m" | minus: 1 %}
                {{ site.data.es_months.months[m] }} de
                {{ step.enddate | date: "%Y" }}
            {% endif %}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                <a href="{{step.url}}">
                {{ step.title }}
                </a>
            </h3>
            <p>
                Firmado por: {{ step.author }}
            </p>
            {%- if step.modified_sections.size > 0 -%}
            <div>
                Secciones modificadas:
                <ul>
                    {%- for section in step.modified_sections -%}
                    <li>
                        <a
                            href="{{step.url}}#{{section | remove: 'á' | remove: 'é' | remove: 'í' | remove: 'ó' | remove: 'ú' }}">
                            {{ section | capitalize | replace: '-', ' ' }}
                        </a>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
            {%- endif -%}
        </div>
    </div>
    {% endfor %}
    <div class="last-item">
        <i class="vertical-line"></i>
    </div>
</div>
